.container-cards{
    padding: 25px;
    width: 100%;
    min-height: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    background-color: #EAE7B1;
}